:root {
    --p: #6a1b9a;
    --pl: #9c4dcc;
    --pd: #38006b;
    --pt: #ffffff;

    --b: #263238;
    --bl: #4f5b62;
    --bd: #000f1b;
    --bd2: #000a12;
    --bt: #ffffff;

    --m: #f5f5f5;
    --ml: #fff;
    --md: #e2e2e2;
    --mt: #111;
}

html,
body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background-color: var(--m);
}
.bg-left {
    position: fixed;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 10%;
    height: 100vh;
    z-index: -10;
    background-color: var(--md);
}

.noscroll::-webkit-scrollbar {
    display: none;
}
.noscroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.code-header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--bd2);
    font-family: monospace;
    display: inline-block;
    width: 100%;
    height: 377px;
    color: var(--bt);
    font-size: 16px;
    overflow-x: auto;
    z-index: -1;
}
.code-header table {
    border-collapse: collapse;
}
.code-header table,
th,
td {
    border: none;
}
.code-header td.number {
    background-color: var(--bd);
    text-align: right;
}
.code-header td {
    padding: 5px;
}

.code {
    white-space: nowrap;
}

/* Syntax Highlighting */
.code .call {
    color: rgb(221, 221, 124);
}
.code .declarator {
    color: lightseagreen;
}
.code .variable {
    color: lightskyblue;
}
.code .literal-string {
    color: rgb(216, 89, 89);
}
.code .literal-int {
    color: lightseagreen;
}
.code .tab {
    margin-right: 50px;
}
.code .comment {
    color: var(--bt);
    opacity: 0.4;
}

#main-page {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#main-page * {
    z-index: inherit;
}

#main-page .personal {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 377px;
    background-color: #22222255;
    margin-bottom: -5px;
}
@media only screen and (min-width: 801px) {
    #main-page .personal .dax-icon {
        position: absolute;
        top: 35px;
        right: 35px;
        display: inline-block;
        width: 307px;
        height: 307px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .personal .dax-name {
        color: var(--bt);
        font-size: 4em;
        font-weight: 300;
        position: absolute;
        top: 120px;
        right: 377px;
    }
    .personal .dax-username {
        color: var(--bt);
        opacity: 0.7;
        font-size: 2em;
        font-weight: 300;
        position: absolute;
        top: calc(130px + 2em);
        right: 377px;
    }
    .personal .dax-username a {
        color: var(--bt);
    }
}
@media only screen and (max-width: 800px) {
    #main-page .personal .dax-icon {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translate(-50%, 0);
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .personal .dax-name {
        color: var(--bt);
        font-size: 2.3em;
        font-weight: 400;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translate(-50%, 0);
        white-space: nowrap;
    }
    .personal .dax-username {
        color: var(--bt);
        opacity: 0.7;
        font-size: 1.5em;
        font-weight: 400;
        position: absolute;
        top: calc(180px + 2.3em);
        left: 50%;
        transform: translate(-50%, 0);
        white-space: nowrap;
    }
    .personal .dax-username a {
        color: var(--bt);
    }
}

.content {
    position: relative;
    display: inline-block;
    width: calc(90% - 7px);
    height: fit-content;
    min-height: calc(100vh - 377px);
    padding: 4px;
    background-color: var(--m);
    margin: 0px;
    margin-left: -5px;
    vertical-align: top;
    box-sizing: border-box;
}
.content > div {
    display: inline-block;
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: fit-content;
    padding-top: 10px;
    box-sizing: border-box;
}
.content .container {
    padding: 10px;
    background-color: var(--md);
    margin-bottom: 0px;
    border-radius: 10px;
    display: inline-block;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}
.content .container > .title {
    font-size: 1.8em;
    font-family: "Courier New", Courier, monospace;
    user-select: none;
}
.content .container > .sep {
    margin: 10px;
    margin-left: 0px;
    position: relative;
    display: block;
    width: 40%;
    height: 2px;
    background-color: var(--pl);
}

.sections {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    display: inline-block;
    width: 10%;
    height: fit-content;
    background-color: var(--md);
    margin: 0px;
    vertical-align: top;
}
.sections .section {
    margin: 10px;
    margin-bottom: 0px;
    background-color: var(--m);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    width: calc(100% - 20px);
    height: fit-content;
    box-sizing: border-box;
    user-select: none;
    position: relative;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}
.sections .section:last-child {
    margin-bottom: 10px;
}
.sections .section:hover,
.sections .section.selected {
    background-color: var(--p);
    color: var(--pt);
}
.sections .section.selected:hover {
    background-color: var(--pd);
}
.sections .section span:not(.material-icons) {
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translate(0, -50%);
}
